// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.cards{
    display:flex;
    flex-wrap: wrap;
    .card{
        width:300px;
        margin:10px;
        padding:10px;
    }
}
header{
    position:fixed;
    top:0;
    left:0;
    z-index: 33;
    
    right:0;
    ul {
        text-align: center;
        margin-top:30px;
        li{
           display:inline-block;
           padding:15px;
        }
    }
}
.container-home, .product-prodotto{
    
    margin:70px auto;
}

.product-prodotto{
    text-align: center;
    justify-content: center;
        align-items: center;        
        display:flex;
        width:calc(100vh - 70px);
    .container-p{
       
        justify-content: center;
        align-items: center;        
        display:flex;
        border:1px solid black;
        width:500px;
        margin:auto;
        .product-chevron-right,.product-chevron-left{
            padding:15px;
        }
        .prod-food{
           
        }
    }
}